@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgcolor: #c9a0dc;
  --primary-color: #9400d3;
  --text-color: #4d4d4e;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* --------------------------------- topbar css style starts   
                        -------------------------------------------------------*/

.topbar-bg {
  height: auto;
  background-color: var(--primary-color);
  z-index: 100;
  position: relative;
}

.topbar-bg a {
  color: #fff;
  word-spacing: normal;
}

.custom-topbar-text i:hover {
  display: inline-block;
  color: #fff;
}

.custom-social-icon {
  float: left;
  overflow-x: hidden;
}

/* --------------------------------- navbar css style starts   
                        -------------------------------------------------------*/

.navbar-bg {
  background-color: var(--bgcolor);
  padding: 1.5rem 0;
  z-index: 99;
  position: relative;
}

.navbar-brand {
  font-size: 3rem;
  padding-left: 0.5rem;
}

.navbar-brand img {
  width: 40%;
  height: auto;
  cursor: pointer;
}

.navbar-brand .cutom-span-tag {
  background-color: var(--primary-color);
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  width: 16%;
  height: 5.1rem;
  border: 2px solid var(--primary-color);
  margin: -1rem -0.5rem -1.5rem 0;
  padding: 0;
}

.navbar li {
  padding: 0 2rem;
}

.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover {
  color: var(--primary-color) !important;
  /* text-shadow: 0 0.2rem 0.3rem rgba(148, 0, 211, 0.5); */
  color: var(--primary-color);
}

.navbar-nav button {
  margin: 0;
}

/* --------------------------------- hero section css styling starts  
                        -------------------------------------------------------*/

header {
  background-color: var(--bgcolor);
  min-height: 100vh;
  width: 100%;
}

.main-hero-container {
  height: 80vh;
  display: flex;
}

.main-hero-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}

.main-hero-paragraph {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

/* Styling Heart */
.heart-emoji {
  color: red;
  cursor: none;
  font-size: 50px;
  height: 100px;
  width: 100px;
  font-family: Poppins;
  /* Animating heart */
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.btn-style {
  width: 12rem;
  height: 4rem;
  color: white;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Poppins";
}

.btn-style-m {
  margin-right: 2rem;
}

.btn-style:hover {
  border-color: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(148, 0, 211, 0.5);
}

.btn-style-b {
  width: 15rem;
  border-color: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.btn-style-b:hover {
  color: white;
  background-color: var(--primary-color);
  text-transform: capitalize;
  border-color: var(--primary-color);
}

/* right side hero section */
.main-herosection-images {
  position: relative;
}

.main-herosection-images img {
  width: 100%;
  height: 60%;
  margin: 0 -10rem;
  position: absolute;
}

/* --------------------------------- header service section css styling starts  
                        -------------------------------------------------------*/

.row {
  display: flex;
}

.servicesec-container {
  width: 80vw;
  padding: 5rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-top: -8rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.main-heading {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  word-spacing: 1rem;
}

.servicesec-container-subdiv {
  padding: 0 6rem;
}

.sub-heading {
  font-size: 2rem;
  font-weight: normal;
}

.fontawesome-style {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--bgcolor);
  /* border: 0.1rem solid var(--bgcolor); */
  font-size: 2.5rem;
  color: var(--primary-color);
  display: grid !important;
  place-items: center;
  margin: 1rem auto;
}

/* --------------------------------- carousel service section css styling starts  
                        -------------------------------------------------------*/

.carousel-container {
  margin: 6rem auto 2rem auto;
}

.carousel-row {
  text-align: center;
}

.slick-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
  align-items: center;
}

/* --------------------------------- about section css styling starts  
                        -------------------------------------------------------*/

.common-section {
  margin: 5rem 0;
}

.left-shift-custom {
  padding-left: 5rem;
}

.our-services img {
  width: 100%;
  height: 85%;
  margin-top: 10rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem; */
}

.our-services .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.our-services-info {
  margin-top: 4rem;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-service-data {
  padding-left: 2rem;
}

.our-services .our-service-data p {
  margin: 1rem 0;
}

/* --------------------------------- contact section css styling starts  
                        -------------------------------------------------------*/

.contact-section {
  margin: 0;
}

.contact-leftside img {
  min-width: 80%;
  max-height: 30rem;
  height: auto;
}

.contact-input-field {
  margin-bottom: 2rem;
}

.contact-rightside form .form-control {
  border: 1px solid var(--text-color);
  -webkit-appearance: none;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contact-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
}

.form-checkbox-style {
  margin: 3rem 0;
}

.contact-rightside form .main-hero-paragraph {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: -2.5rem 0;
  font-weight: lighter;
  width: 100%;
  padding: 0 2rem;
}

/* --------------------------------- footer css styling starts  
                        -------------------------------------------------------*/

.footer-css {
  color: var(--text-color);
}

.footer-css:hover {
  color: var(--primary-color);
}

.footerWrap {
  width: 100%;
}

.footerContent {
  float: none;
  margin: 0;
  /* background-color: var(--bgcolor); */
  border-bottom: 1rem solid var(--bgcolor);
}

.bottom-narrow-strip {
  margin-top: 6rem;
  border-bottom: 1rem solid var(--primary-color);
}

.footer p {
  float: left;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* --------------------------------- responsive media queries  
                        -------------------------------------------------------*/
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

@media screen and (max-width: 600px) {
  .main-hero-container h1 {
    margin: -2rem 2rem 2rem 2rem;
  }

  .main-hero-paragraph {
    margin: 1rem 2rem 2rem 2rem;
  }

  .btn-style {
    width: 50%;
    font-size: 1.3rem;
    margin: 0 2rem 0.5rem 2rem;
  }

  .btn-style-b {
    width: 65%;
  }

  .main-herosection-images img {
    width: 50%;
    height: 200%;
    margin-top: -25rem;
    margin-right: -25rem;
  }

  .slick-slide img {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .our-services img {
    margin: 2rem 0;
    width: 100%;
    height: 93%;
  }

  .our-services .mini-title {
    font-size: 1.2rem;
  }

  .contact-section {
    margin: auto 2rem;
  }

  .contact-leftside img {
    margin: auto 5rem;
  }

  .row .phone-style {
    width: 40% !important;
  }

  .footerContent {
    margin: 0 3rem 0 0;
  }

  .footer p {
    margin: 0;
    padding: 0 2rem 1rem 2rem;
  }

  .bottom-narrow-strip {
    margin-top: 7.5rem;
  }
}
