@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --bgcolor: #a78571;
  --primary-color: #3c1c0a;
  --text-color: #4d4d4e;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* --------------------------------- topbar css style starts   
                        -------------------------------------------------------*/

.topbar-bg {
  height: auto;
  background-color: var(--primary-color);
  z-index: 99;
  position: relative;
  height: 20%;
  padding: 0.5rem 1rem;
}

.topbar-bg a {
  color: #fff;
  float: right;
  padding-left: 2rem;
  word-spacing: 2rem;
}

.custom-topbar-text i:hover {
  display: inline-block;
  color: #fff;
}

.custom-social-icon {
  float: left;
  overflow-x: hidden;
}

/* --------------------------------- navbar css style starts   
                        -------------------------------------------------------*/

.navbar-bg {
  background-color: var(--bgcolor);
  padding: 1.5rem 0;
  z-index: 99;
  position: relative;
}

.navbar-brand {
  font-size: 2rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.navbar-brand .cutom-span-tag {
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  width: 16%;
  height: 5.1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.navbar li {
  padding: 0 2rem;
}

.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover {
  color: var(--primary-color) !important;
  color: var(--primary-color);
  cursor: pointer;
}

/* --------------------------------- header section css styling starts  
                        -------------------------------------------------------*/

header {
  background-color: var(--bgcolor);
  min-height: 35vh !important;
  width: 100%;
}

.main-hero-container {
  height: 35vh !important;
  display: flex;
}

.main-hero-container h1 {
  /* text-transform: capitalize; */
  font-weight: bolder;
}

.main-hero-container span {
  color: white;
  border: 1px solid white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  text-shadow: 1px 1px var(--primary-color);
}

.main-hero-container p {
  color: white;
}

.main-hero-paragraph {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: auto;
}

.btn-style {
  width: 12rem;
  height: 4rem;
  color: white;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Ubuntu";
}

.btn-style-custom {
  width: auto;
  height: 4rem;
  color: var(--primary-color);
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  float: right;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  transition: all 0.5s;
  width: 6vmax;
  margin-top: 1rem;
  font: 500 1vmax "Ubuntu";
}

.btn-style:hover {
  border-color: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

/* --------------------------------- contact section css styling starts  
                        -------------------------------------------------------*/

/* .contact-area {
  height: 50vh;
  position: relative;
} */

.form-control {
  box-shadow: none !important;
}

.contact-label {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-section {
  margin: 0;
}

.contact-input-field {
  margin-bottom: 2rem;
}

.contact-rightside label {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.contact-rightside form .form-control {
  border: 1px solid var(--text-color);
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contact-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
}

.form-checkbox-style {
  margin: 3rem 0;
}

.contact-rightside form .main-hero-paragraph {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: -2.5rem 0;
  font-weight: lighter;
  width: 100%;
  padding: 0 2rem;
}

/* --------------------------------- footer css styling starts  
                        -------------------------------------------------------*/

.footer-css {
  color: var(--text-color);
}

.footer-css:hover {
  color: var(--primary-color);
}

body > footer {
  position: sticky;
  top: 100vh;
}

.footerWrap {
  width: 100%;
}

.footerContent {
  float: none;
  margin: 0;
  /* background-color: var(--bgcolor); */
  border-bottom: 0.5rem solid var(--bgcolor);
}

.bottom-narrow-strip {
  margin-top: 5.7rem;
  border-bottom: 0.5rem solid var(--primary-color);
}

.footer p {
  float: left;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* --------------------------------- practice-tutorial css design start here  
                        -------------------------------------------------------*/

section {
  position: relative;
}

.card-top-up {
  margin-top: -4rem !important;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
}

.card {
  transition: 0.5s;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 7em;
  line-height: 1.8em;
}

.card:hover {
  box-shadow: 0 0 5px var(--bgcolor);
  transition: 0.5s;
  transform: translateY(-0.5rem);
}

.card-footer {
  font-size: 1.2rem;
}

.search-control {
  width: 100%;
  font-size: 1.5rem;
}

.search-control:focus {
  box-shadow: none !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.bg-custom-practice-tutorial {
  background-color: var(--primary-color) !important;
  color: #fff;
  font-weight: lighter;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  width: auto;
  margin-top: 1rem;
}

.has-search .form-control {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.form-control:hover {
  border-color: var(--bgcolor) !important;
  border-block-width: 1px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.5rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* --------------------------------- MCQ homepage section  
                        -------------------------------------------------------*/

.bg-mcq {
  background-color: var(--bgcolor);
  border: 1px solid var(--bgcolor);
  border-radius: 0.5rem;
  padding: 0 5rem;
}

.bg-mcq h1 {
  font-weight: bold;
}

.bg-mcq p {
  color: white;
}

.mcq-btn-lite {
  width: 12rem !important;
  height: 4rem;
  color: white;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  float: right;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Ubuntu";
}

.mcq-btn-lite:hover {
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.5s;
}

/* --------------------------------- responsive media queries  
                        -------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 600px !important;
  }

  .header-theme {
    margin: 1rem 0;
  }

  .main-hero-container h1 {
    font-size: 2rem;
  }

  .main-hero-container p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .navbar-brand {
    width: 85%;
  }

  .navbar-bg {
    padding: 0;
    margin: 0;
  }

  .main-hero-paragraph {
    margin: 2rem 0;
    width: auto;
  }

  .btn-style {
    width: 50%;
    font-size: 1.3rem;
    margin: 0;
    width: auto;
  }

  .main-heading {
    margin: 0;
    padding: 0;
  }

  .card-top-up {
    margin-top: -2rem !important;
  }

  .text {
    -webkit-line-clamp: 3;
    max-height: 6.8em;
    line-height: 1.8em;
  }

  .card-footer {
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 2em;
    line-height: 1.5em;
  }

  .contact-section {
    margin: auto 2rem;
  }

  .form-checkbox-style label {
    width: auto;
  }

  .row .phone-style {
    width: 40% !important;
  }

  .footerContent {
    margin: 0 3rem 0 0;
  }

  .footer p {
    margin: 0;
    padding: 0 2rem 1rem 2rem;
  }

  .bottom-narrow-strip {
    margin-top: 7rem !important;
  }

  .bg-mcq {
    padding: 1rem;
  }

  .mcq-btn-lite {
    width: 50%;
    font-size: 1.3rem;
    float: left;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    min-width: 600px !important;
  }

  .mcq-btn-lite {
    width: 25%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px !important;
  }
  .mcq-btn-lite {
    width: 25%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px !important;
  }
}
