.custom-theme h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.custom-theme h3 {
    margin-bottom: 2rem;
    font-weight: lighter;
}

.custom-theme hr {
    color: #9400d3;
    width: auto;
}

.custom-theme h5 {
    font-weight: auto;
}

.custom-theme p {
    font-size: 1.5rem;
    font-weight: lighter;
}

.custom-theme h6 {
    font-size: 1.2rem;
    width: 0.1%;
    padding-left: 0.5%;
    background-color: #9400d3;
}

