.custom-theme {
    margin-top: 2rem;
}

.custom-theme h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.custom-theme h3 {
    margin-bottom: 2rem;
    font-weight: lighter;
}

.custom-theme hr {
    color: #A78571;
    width: auto;
}

.custom-theme h5 {
    font-weight: auto;
}

.custom-theme p {
    font-size: 1.5rem;
    font-weight: lighter;
}

.custom-theme h6 {
    font-size: 1.2rem;
    width: 0.1%;
    padding-left: 0.5%;
    background-color: #3C1C0A;
}

.bg-custom-one {
    background-color: #3C1C0A !important;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 0%;
    border: 1px solid #3C1C0A;
  }

  .bg-custom-two {
    background-color: #fff !important;
    color: #3C1C0A;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 0%;
    border: 1px solid #3C1C0A;
  }
  