.custom-container {
  /* flex-direction: row;
  height: 100vh; */
  padding: 0 1rem;
}

.custom-css h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem auto;
}

.custom-css input {
  font-size: 1.5rem;
}

.custom-css textarea {
  font-size: 1.5rem;
}

.custom-css select {
  font-size: 1.5rem;
}


.custom-css .btn-style {
  margin: auto !important;
  width: 50%;
}


@media screen and (min-width: 600px) {

  .custom-container {
    padding: 0 2rem;
  }
  
  .col-4 .col-8 {
    width: 100%;
  }

}