.custom-container {
  flex-direction: row;
  height: 75vh;
}

.custom-css h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem auto;
}

.custom-css input {
  font-size: 1.5rem;
}

.custom-css textarea {
  font-size: 1.5rem;
}

.custom-css select {
  font-size: 1.5rem;
}
